<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fragments for BlankPage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/common/css/commonStyle.css" th:href="@{/static/common/css/commonStyle.css}">
    <link rel="stylesheet" href="../../../static/rootpages/css/style.css" th:href="@{/static/rootpages/css/style.css}">
</head>
<body>


<div class="center-screen" th:fragment="registry">
    <div class="myBlock">
        <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
        <h2 th:text="${htmlThymeleafPage.getTitle()}"></h2>
        <p hidden th:hidden="${htmlThymeleafPage.isHideMessage()}" th:text="${htmlThymeleafPage.getMessage()}"></p>
        <!--/*@thymesVar id="user" type="com.npn.spring.learning.spring.smallspringboot.model.security.User"*/-->
        <form class="needs-validation" novalidate action="/registry" method="POST" th:object="${user}">
            <div class="form-group">
                <label for="userName">Имя пользователя (email)</label>
                <input name="name" type="email" class="form-control" id="userName" aria-describedby="userNameDesc" th:value="*{name}" required pattern="^.+@.+\.+.+">
                <div class="invalid-feedback">
                    Введите email.
                </div>
            </div>
            <div class="form-group">
                <label for="passwordInput">Пароль</label>
                <input name="password" type="password" class="form-control" id="passwordInput" th:value="*{password}" required pattern="[1-9A-Za-z]">
                <div class="invalid-feedback">
                    Введите пароль, только латинские буквы и цифры.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        <script>
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</div>


<div class="center-screen" th:fragment="login">
    <div class="myBlock">
        <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
        <h2 th:text="${htmlThymeleafPage.getTitle()}"></h2>
        <p hidden th:hidden="${htmlThymeleafPage.isHideMessage()}" th:text="${htmlThymeleafPage.getMessage()}"></p>
        <form action="/login" method="POST" th:action="@{/login}">
            <div class="form-group">
                <label for="userName">Имя пользователя</label>
                <input name="username" type="text" class="form-control" id="userName" aria-describedby="userNameDesc">
            </div>
            <div class="form-group">
                <label for="passwordInput">Пароль</label>
                <input name="password" type="password" class="form-control" id="passwordInput">
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        <div>
            <div style="margin-top: 10px">Войти через:</div>
            <div th:each="oath: ${oaths}">
                <a th:href="${oath.value}" href="#" class="badge badge-light" th:text="${oath.key}" style="padding: 1em">Светлый</a>
            </div>
        </div>
    </div>
</div>


<div class="center-screen" th:fragment="main">
    <div class="myBlock">
        <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
        <p hidden th:hidden="${htmlThymeleafPage.isHideMessage()}" th:text="${htmlThymeleafPage.getMessage()}"></p>
        <div class="flex-button-container w-100">
            <button type="button" class="btn btn-primary my-button" onclick="document.location.href='/login'">Войти</button>
            <button type="button" class="btn btn-primary my-button" onclick="document.location.href='/registry'">Зарегистрироваться</button>
        </div>
    </div>
</div>

<div class="center-screen" th:fragment="acceptMessage">
    <div class="myBlock">
        <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
        <h4 th:text="${htmlThymeleafPage.getTitle()}" style="text-align: center">Message title</h4>
        <p hidden th:hidden="${htmlThymeleafPage.isHideMessage()}" th:text="${htmlThymeleafPage.getMessage()}" style="text-align: center">Message</p>
        <p style="text-align: center"><button class="btn btn-primary" onclick="document.location.href='/login'">Войти</button></p>
    </div>
</div>
<div class="center-screen" th:fragment="failMessage">
    <div class="myBlock">
        <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
        <h4 th:text="${htmlThymeleafPage.getTitle()}" style="text-align: center">Message title</h4>
        <p hidden th:hidden="${htmlThymeleafPage.isHideMessage()}" th:text="${htmlThymeleafPage.getMessage()}" style="text-align: center">Message</p>
    </div>
</div>
<div class="center-screen" th:fragment="authorisationEmailExpired">
    <div class="myBlock">
        <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
        <h4 th:text="${htmlThymeleafPage.getTitle()}" style="text-align: center">Message title</h4>
        <p hidden th:hidden="${htmlThymeleafPage.isHideMessage()}" th:text="${htmlThymeleafPage.getMessage()}" style="text-align: center">Message</p>
        <p style="text-align: center"><button class="btn btn-primary" th:attr="data-href=${href}" onclick="document.location.href=this.getAttribute('data-href');">Направить письмо повторно</button></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>