<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fragments for Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/common/css/commonStyle.css" th:href="@{/static/common/css/commonStyle.css}">
    <link rel="stylesheet" href="../../../static/rootpages/css/style.css" th:href="@{/static/rootpages/css/style.css}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark nav-my-style" th:fragment="mainNav">
    <a class="navbar-brand" href="/">Логотип</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--/*@thymesVar id="htmlThymeleafPage" type="com.npn.spring.learning.spring.smallspringboot.model.html.HtmlThymeleafPage"*/-->
            <tr th:each="element : ${htmlThymeleafPage.getNavElements()}">
                <td th:switch="${element.getType()}">
                    <li th:case="'MENU'" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           th:id="${element.getName()}" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" th:text="${element.getDescription()}">
                            Menu
                        </a>
                        <div class="dropdown-menu my-color" th:attr="aria-labelledby=${element.getName()}">
                            <div th:each="page : ${element.getChildren()}">
                                <a th:if="${page.getType().equals('ELEMENT')}" class="dropdown-item my-color"
                                    th:href="${page.getHref()}" th:text="${page.getDescription()}"></a>
                                <div th:if="${page.getType().equals('DIVIDER')}" class="dropdown-divider"></div>
                            </div>
                        </div>
                    </li>
                    <li th:case="'ELEMENT'" class="nav-item">
                        <a class="nav-link" href="#" th:href="${element.getHref()}" th:text="${element.getDescription()}">Features</a>
                    </li>
                </td>
            </tr>
        </ul>
    </div>
</nav>

</body>
</html>