.myBlock {
    display: block;
    border-width: 2px;
    border-color: black;
    background-color: #8febe8;
    min-width: 400px;
    max-width: 600px;
    padding: 5px;
    margin: auto;
}

.center-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    overflow: auto;

}

.flex-button-container {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.my-button {
    flex-grow: 1;
    margin: 5px;
    flex-basis: 0.5em;
}